:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 550;
  font-size: 16px;
  color: rgb(27, 99, 193) 42, 193;
  text-decoration: inherit;
}
a:hover {
  color: rgb(120, 22, 185);
}

p {
  text-align: center;
}


body {
  margin: 0;
  padding-left: 100px;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(193, 206, 221);
}

button {
  margin: 5px;
}

.wrapper {
  padding-left: 200px;
}

.review-table {
  font-size: 3.2em;
  text-align: left ;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  font-size: 90px;
}

.wrapper2 {
  display: flex;
}

.wrapper3 {
  display: flex;
  place-items: center;
}

.wrapper4 {
  display: flex;
  justify-content: baseline;
  
}

.john {
  max-width: 100%;
}

.deadpool {
  max-width: 100%;
}

.flash {
  max-width: 100%;
}

.family {
  max-width: 50%;
}

.steve {
  max-width: 20%;
  float: right;
  
}

.new-review {
  text-align: left;
  padding-bottom: 10px;
}

.wrapper5 {
  place-items: center;
  margin-top: 70px;
  padding-left: 350px;
  

}

.wrapper6 {
  margin-top: 50px;
  padding-right: 300px;
  padding-left: 200px;
}

.about-us {
  text-align: left;
  font-size: 50px;
}

.view-one {
  border: 1px;
  border-style: solid;
  border-color: white;
}

.new-form {
  border: 1px;
  border-style: solid;
  border-color: white;
}